.page {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.slide-image,
.slide-info {
  width: 50%;
  display: flex;
}
.slide-info {
  flex-direction: column;
  justify-content:flex-start;
  margin: 0px 84px;
}

.title {
  font-size: 70px;
  font-weight: 700;
  color: #443d5e;
  width: 30%;
}

.description {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #443d5e;
  width: 50%;
}

.img-logo {
 min-width: 60px;
 min-height: 60px;
 max-width: 60px;
 max-height: 60px;
 margin-top: 36px;
}

.group-point{
  margin-top: 128px;
  margin-bottom: 53px;
}
