@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-p-color: #443d5e;
  --main-btn-color: #7624ea;
}

.btn-basic,
.btn-link {
  font-size: 14px;
}

.btn-basic {
  background: var(--main-p-color);
  border-radius: 26px;
  color: white;
  padding: 16px 38px;
}

.btn-link {
  line-height: 21px;
  color: var(--main-btn-color);
}
